.main{
    .main__row-1{
        display: flex;
        width: 100%;
        .main__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 65px 65px;
            h1{
                margin: 0 0 50px 0;
                color: black;
                font-size: 51px;
                font-family: 'VTB-FONT',Arial,sans-serif;
                line-height: 1.55;
                font-weight: 800;
            }
            .granite{
                width: 100%;
                span{
                    color: black;
                    font-size: 17px;
                    font-family: 'VTB-FONT',Arial,sans-serif;
                    line-height: 1.4;
                    font-weight: 300;
                    b{
                        font-weight: 700;
                    }
                }
            }
            .main__buttons{
                margin: 150px 0 0 0;
                button{
                    margin: 0 20px 0 0;
                    width: 250px;
                    height: 50px;
                    border: none;
                    color: #172230;
                    font-size: 18px;
                    font-family: 'VTB-FONT',Arial,sans-serif;
                    line-height: 1.55;
                    font-weight: 400;
                    border-radius: 30px;
                    background-color: #ffffff;
                }
                a{
                    color: black;
                    font-size: 28px;
                    font-family: 'VTB-FONT',Arial,sans-serif;
                    line-height: 1.55;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
        .main__img{
            width: 50%;
            background-size: cover;
            background-image: url(https://thumb.tildacdn.com/tild3365-6636-4663-b436-663837653837/-/cover/675x730/center/center/-/format/webp/_.jpg);
        }
    }

}


@media (max-width: 400px){
    .main {
        .main__row-1 {
            .main__text {
                padding: 65px 5px;
                width: 100%;

                .granite {
                    width: 100%;
                }
            }

            .main__img {
                display: none;
            }
        }

        .main__row-2 {
            .main__text {
                padding: 65px 5px;

                text-align: right;
                width: 100%;

                .granite {
                    width: 100%;
                }
            }

            .main__img {
                display: none;
            }
        }
        
        .main__row-4 {
            .main__text {
                padding: 65px 5px;
                text-align: left;
                width: 100%;

                .granite {
                    width: 100%;
                }
            }

            .main__img {
                display: none;
            }
        }

        .main__row-6 {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 0;
            .main__body{
                flex-direction: column;
            }
        }
    }
}
