@media screen and (max-width: 767px){

}

@media screen and (max-width: 980px){
    body{
        font-size: 100%;
    }
    .header a{
        padding: 0;
        margin: 0;
    }
    .header ul li{
        margin-left: 10%;
    }
    .c{
        visibility: hidden;
    }
    .m{
        visibility: visible;
        width: 100%;
        margin: 0 auto;
        height: auto;
        border-bottom: 1px solid #8a96a3;
    }
    .eye-catching a{
        padding-right: 0 !important;
        padding-left: 10px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .form{
        width: 100%;
    }
    .form a{
        margin-right: 0;
    }
    input[type=submit]{
        font-size: 16px;
    }
    .btn{
        width: 100%;
    }

}

@media screen and (max-width: 1130px){

}

@media screen and(min-width: 1200px) {
    .m{
        position: fixed;
        visibility: hidden;
    }
    .c{
        visibility: visible;
    }
    a{
        font-size: 50px !important;
    }
    input{
        height: 100px;
    }
}