.header__fixed{
    width: 100%;
    height: 100px;
    .header{
        z-index: 99;
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        padding: 20px;
        width: 100%;
        height: 100px;
        background: #F9F9F9;
        .header__body{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            .header__title{
                h1{
                    color: rgba(0, 0, 0, 0.87);
                }
            }
            .header__nav{
                display: flex;
                align-items: center;
    
                .header__navigation{
                    margin-right: 20px;
                    ul{
                        display: flex;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: 0 20px;
                            list-style-type: none;
                            a{
                                color: #0772A0;
                                font-size: 17px;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .header__reg{
                   button{
                        border-radius: 10px;
                        height: 40px;
                        width: 131px;
                        background: #0772A0;
                        color: #fff;
                        border: 2px solid #0772A0;
                        transition: all 0.2s ease 0s;
                       a{
                           font-size: 17px;
                            text-decoration: none;
                            color: #ffffff;
                       }
                   } 
                   .btn-primary:hover{
                        background-color: white;
                        a{
                            color: #0772A0;
                        }
                   }
                }
            }
    
    
        }
    }
}
