
$logo-image-url: url('/assets/images/logo/logo_mop.svg') no-repeat;


$logo-formembers-image-url: url('/assets/images/logo/logo_mop_for_members_loyalty.svg') no-repeat;


$person-image-url: url('/assets/images/icons/person.svg') no-repeat;


$address-image-url: url('/assets/images/icons/address.svg') no-repeat;


$pin-image-url: url('/assets/images/icons/pin.svg') no-repeat;


$pin-filled-image-url: url('/assets/images/icons/pin-filled.svg') no-repeat;


$target-image-url: url('/assets/images/icons/storefinder.svg') no-repeat;


$star-image-url: url('/assets/images/icons/star.svg') no-repeat;


$star-filled-image-url: url('/assets/images/icons/star-filled.svg') no-repeat;


$logo-signet-image-url: url('/assets/images/logo/logo_mop_signet.svg') no-repeat;


$logo-denim-image-url: url('/assets/images/logo/logo_mop_denim_round.svg') no-repeat;


$logo-whitelabel-image-url: url('/assets/images/logo/logo_mop_whitelabel.svg') no-repeat;


$arrow-select-image-url: url('/assets/images/icons/arrow_select.svg') no-repeat;


$arrow-short-image-url: url('/assets/images/icons/arrow_short.svg') no-repeat;


$arrow-success-image-url: url('/assets/images/icons/arrow_success.svg') no-repeat;


$arrow-success-green-image-url: url('/assets/images/icons/arrow_success_green.svg') no-repeat;


$arrow-success-grey-image-url: url('/assets/images/icons/arrow_success_grey.svg') no-repeat;


$bag-image-url: url('/assets/images/icons/bag.svg') no-repeat;


$burger-image-url: url('/assets/images/icons/burger.svg') no-repeat;


$heart-image-url: url('/assets/images/icons/heart.svg') no-repeat;


$heart-filled-image-url: url('/assets/images/icons/heart-filled.svg') no-repeat;


$search-image-url: url('/assets/images/icons/search.svg') no-repeat;


$x-burger-image-url: url('/assets/images/icons/x_big.svg') no-repeat;

$x-big-image-url: url('/assets/images/icons/x_big.svg') no-repeat;


$x-small-red-image-url: url('/assets/images/icons/x_small_red.svg') no-repeat;


$dhl-express-image-url: url('/assets/images/icons/delivery/delivery_dhl_express.svg') no-repeat;


$dhl-image-url: url('/assets/images/icons/delivery/delivery_dhl.svg') no-repeat;


$hermes-image-url: url('/assets/images/icons/delivery/delivery_hermes.svg') no-repeat;


$ups-image-url: url('/assets/images/icons/delivery/delivery_ups.svg') no-repeat;


$post-swiss-image-url: url('/assets/images/icons/delivery/delivery_swiss-post.svg') no-repeat;


$post-nl-image-url: url('/assets/images/icons/delivery/delivery_postnl.svg') no-repeat;


$post-at-image-url: url('/assets/images/icons/delivery/delivery_postat.svg') no-repeat;


$gls-image-url: url('/assets/images/icons/delivery/delivery_gls.svg') no-repeat;


$amex-image-url: url('/assets/images/icons/payment/payment_amex.svg') no-repeat;


$carte-bleue-image-url: url('/assets/images/icons/payment/payment_carte-bleue.svg') no-repeat;


$ideal-image-url: url('/assets/images/icons/payment/payment_ideal.svg') no-repeat;


$mastercard-image-url: url('/assets/images/icons/payment/payment_mastercard.svg') no-repeat;


$paypal-image-url: url('/assets/images/icons/payment/payment_paypal.svg') no-repeat;


$visa-image-url: url('/assets/images/icons/payment/payment_visa.svg') no-repeat;


$facebook-image-url: url('/assets/images/icons/social_media/socialmedia_fb.svg') no-repeat;


$instagram-image-url: url('/assets/images/icons/social_media/socialmedia_instagram.svg') no-repeat;


$pinterest-image-url: url('/assets/images/icons/social_media/socialmedia_pinterest.svg') no-repeat;


$tumblr-image-url: url('/assets/images/icons/social_media/socialmedia_tumblr.svg') no-repeat;


$twitter-image-url: url('/assets/images/icons/social_media/socialmedia_twitter.svg') no-repeat;


$youtube-image-url: url('/assets/images/icons/social_media/socialmedia_youtube.svg') no-repeat;

$at-flag-image-url: url('/assets/images/icons/flags/AT.svg') no-repeat;


$be-flag-image-url: url('/assets/images/icons/flags/BE.svg') no-repeat;


$bg-flag-image-url: url('/assets/images/icons/flags/BG.svg') no-repeat;


$ch-flag-image-url: url('/assets/images/icons/flags/CH.svg') no-repeat;


$cz-flag-image-url: url('/assets/images/icons/flags/CZ.svg') no-repeat;


$de-flag-image-url: url('/assets/images/icons/flags/DE.svg') no-repeat;


$ee-flag-image-url: url('/assets/images/icons/flags/EE.svg') no-repeat;


$es-flag-image-url: url('/assets/images/icons/flags/ES.svg') no-repeat;


$fi-flag-image-url: url('/assets/images/icons/flags/FI.svg') no-repeat;


$fr-flag-image-url: url('/assets/images/icons/flags/FR.svg') no-repeat;


$gb-flag-image-url: url('/assets/images/icons/flags/GB.svg') no-repeat;


$ie-flag-image-url: url('/assets/images/icons/flags/IE.svg') no-repeat;


$it-flag-image-url: url('/assets/images/icons/flags/IT.svg') no-repeat;


$lu-flag-image-url: url('/assets/images/icons/flags/LU.svg') no-repeat;


$lt-flag-image-url: url('/assets/images/icons/flags/LT.svg') no-repeat;


$lv-flag-image-url: url('/assets/images/icons/flags/LV.svg') no-repeat;


$nl-flag-image-url: url('/assets/images/icons/flags/NL.svg') no-repeat;


$pl-flag-image-url: url('/assets/images/icons/flags/PL.svg') no-repeat;


$se-flag-image-url: url('/assets/images/icons/flags/SE.svg') no-repeat;


$si-flag-image-url: url('/assets/images/icons/flags/SI.svg') no-repeat;


$sk-flag-image-url: url('/assets/images/icons/flags/SK.svg') no-repeat;

$care-1a-image-url: url('/assets/images/icons/care_instructions/1a.svg') no-repeat;


$care-1b-image-url: url('/assets/images/icons/care_instructions/1b.svg') no-repeat;


$care-10-image-url: url('/assets/images/icons/care_instructions/10.svg') no-repeat;


$care-11-image-url: url('/assets/images/icons/care_instructions/11.svg') no-repeat;


$care-12-image-url: url('/assets/images/icons/care_instructions/12.svg') no-repeat;


$care-13-image-url: url('/assets/images/icons/care_instructions/13.svg') no-repeat;


$care-14-image-url: url('/assets/images/icons/care_instructions/14.svg') no-repeat;


$care-16-image-url: url('/assets/images/icons/care_instructions/16.svg') no-repeat;


$care-17-image-url: url('/assets/images/icons/care_instructions/17.svg') no-repeat;


$care-18-image-url: url('/assets/images/icons/care_instructions/18.svg') no-repeat;


$care-19-image-url: url('/assets/images/icons/care_instructions/19.svg') no-repeat;


$care-20-image-url: url('/assets/images/icons/care_instructions/20.svg') no-repeat;


$care-21-image-url: url('/assets/images/icons/care_instructions/21.svg') no-repeat;


$care-22-image-url: url('/assets/images/icons/care_instructions/22.svg') no-repeat;


$care-30-image-url: url('/assets/images/icons/care_instructions/30.svg') no-repeat;


$care-31-image-url: url('/assets/images/icons/care_instructions/31.svg') no-repeat;


$care-32-image-url: url('/assets/images/icons/care_instructions/32.svg') no-repeat;


$care-40-image-url: url('/assets/images/icons/care_instructions/40.svg') no-repeat;


$care-41-image-url: url('/assets/images/icons/care_instructions/41.svg') no-repeat;


$care-42-image-url: url('/assets/images/icons/care_instructions/42.svg') no-repeat;


$care-43-image-url: url('/assets/images/icons/care_instructions/43.svg') no-repeat;


$care-50-image-url: url('/assets/images/icons/care_instructions/50.svg') no-repeat;


$care-53-image-url: url('/assets/images/icons/care_instructions/53.svg') no-repeat;


$care-54-image-url: url('/assets/images/icons/care_instructions/54.svg') no-repeat;


$care-55-image-url: url('/assets/images/icons/care_instructions/55.svg') no-repeat;


$care-56-image-url: url('/assets/images/icons/care_instructions/56.svg') no-repeat;


$care-57-image-url: url('/assets/images/icons/care_instructions/57.svg') no-repeat;


$care-58-image-url: url('/assets/images/icons/care_instructions/58.svg') no-repeat;


$care-washing-machine-image-url: url('/assets/images/icons/care_instructions/washing_machine.svg') no-repeat;


$email-image-url: url('/assets/images/icons/email.svg') no-repeat;


$chain-image-url: url('/assets/images/icons/chain.svg') no-repeat;


$zoom-in-image-url: url('/assets/images/icons/zoom-in.svg');


$zoom-out-image-url: url('/assets/images/icons/zoom-out.svg');


$select-arrow-down-url: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiMzODNlNDQiIHZpZXdCb3g9IjAgMCAxMSA2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMSA2Ij48cGF0aCBkPSJNNS4yNjEgNS43MTJsLTQuOTY4LTUuMDMzLjcxMS0uNzAzIDQuMjU2IDQuMzEyIDQuMjU2LTQuMzEyLjcxMi43MDN6IiBpZD0iU2hhcGUiLz48L3N2Zz4='); 


$select-arrow-down-disabled-url: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM5OTk5OTkiIHZpZXdCb3g9IjAgMCAxMSA2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMSA2Ij48cGF0aCBkPSJNNS4yNjEgNS43MTJsLTQuOTY4LTUuMDMzLjcxMS0uNzAzIDQuMjU2IDQuMzEyIDQuMjU2LTQuMzEyLjcxMi43MDN6IiBpZD0iU2hhcGUiLz48L3N2Zz4=');


$arrow-next-url: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEgMTAiPjxwYXRoIGQ9Ik0xMC43MTIgNC45ODlsLTUuMDMzLTQuOTY4LS43MDMuNzExIDMuODE2IDMuNzY3aC04LjYxNXYxaDguNTkzbC0zLjc5NSAzLjc0NS43MDMuNzEyeiIvPjwvc3ZnPg==');


$arrow-next-white-url: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTEgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDExIDEwOyI+Cgk8cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjEwLjcxMTkxLDQuOTg5MjYgNS42Nzg3MSwwLjAyMTQ4IDQuOTc2MDcsMC43MzI5MSA4Ljc5MjQyLDQuNSAwLjE3NzczLDQuNSAwLjE3NzczLDUuNSA4Ljc3MDYzLDUuNQoJNC45NzYwNyw5LjI0NTEyIDUuNjc4NzEsOS45NTcwMyAiLz4KPC9zdmc+Cg==');


$video-play-image-url: url('/assets/images/icons/video/play.svg');


$video-pause-image-url: url('/assets/images/icons/video/pause.svg');

$icons-map: (
	arrow-long: (
		display: inline-flex,
		position: relative,
		align-items: center,
		justify-content: flex-end,
		color: inherit,
		after: (
			display: block,
			content: '""',
			width: 38px,
			height: 1px,
			background-color: currentColor
		),
		before: (
			display: block,
			position: absolute,
			top: 0,
			right: 0,
			bottom: 0,
			width: 7px,
			height: 7px,
			margin: auto,
			padding: 0,
			transform-origin: 50% 50%,
			transform: rotate(45deg),
			border-top: solid 1px currentColor,
			border-right: solid 1px currentColor,
			content: '""'
		)
	),
	arrow-select: (
		display: 'inline-block',
		width: 8px,
		height: 8px,
		transform: 'translateY(-4px) rotateZ(45deg)',
		content: '""'
		),
	arrow-short: (
		background: $arrow-short-image-url,
		width: 11px,
		height: 10px
	),
	arrow-success: (
		background: $arrow-success-image-url,
		width: 13px,
		height: 9px
	),
	arrow-success-grey: (
		background: $arrow-success-grey-image-url,
		width: 13px,
		height: 9px
	),
	arrow-success-green: (
		background: $arrow-success-green-image-url,
		width: 13px,
		height: 9px
	),
	bag: (
		background: $bag-image-url,
		width: 14px,
		height: 19px
	),
	burger: (
		background: $burger-image-url,
		width: 14px,
		height: 19px,
		after: (
			position: absolute,
			content: '""',
			width: 25px,
			height: 25px
		)
	),
	heart: (
		background: $heart-image-url,
		width: 17px,
		height: 19px
	),
	heart-filled: (
		background: $heart-filled-image-url,
		width: 17px,
		height: 19px
	),
	search: (
		background: $search-image-url,
		width: 14px,
		height: 19px
	),
	x-burger: (
		background: $x-burger-image-url,
		width: 13px,
		height: 19px,
		after: (
			position: absolute,
			content: '""',
			width: 25px,
			height: 25px
		)
	),
	x-big: (
		background: $x-big-image-url,
		width: 14px,
		height: 19px
	),
	x-small: (
		after: (
			display: inline-block,
			transform: rotate(45deg) scale(1.5),
			content: '"+"',
		)
	),
	minus: (
		width: 10px,
		height: 1px,
	),
	plus: (
		width: 10px,
		before: (
			position: 'absolute',
			width: 10px,
			height: 1px,
			content: '""'
		),
		after: (
			position: 'absolute',
			width: 10px,
			height: 1px,
			transform: 'rotate(90deg)',
			content: '""'
		)
	),
	dhl-express: (
		background: $dhl-express-image-url,
		background-size: 35px 30px,
		width: 35px,
		height: 30px
	),
	dhl: (
		background: $dhl-image-url,
		background-size: 31px 30px,
		width: 31px,
		height: 30px
	),
	hermes: (
		background: $hermes-image-url,
		background-size: 46px 30px,
		width: 46px,
		height: 30px
	),
	ups: (
		background: $ups-image-url,
		background-size: 20px 30px,
		width: 20px,
		height: 30px
	),
	post-swiss: (
		background: $post-swiss-image-url,
		background-size: 70px 30px,
		width: 70px,
		height: 30px
	),
	post-nl: (
		background: $post-nl-image-url,
		background-size: 24px 30px,
		width: 24px,
		height: 30px
	),
	post-at: (
		background: $post-at-image-url,
		background-size: 70px 30px,
		width: 70px,
		height: 30px
	),
	gls: (
		background: $gls-image-url,
		background-size: 41px 30px,
		width: 41px,
		height: 30px
	),
	amex: (
		background: $amex-image-url,
		width: 33px,
		height: 30px
	),
	carte-bleue: (
		background: $carte-bleue-image-url,
		width: 33px,
		height: 30px
	),
	ideal: (
		background: $ideal-image-url,
		width: 33px,
		height: 30px
	),
	mastercard: (
		background: $mastercard-image-url,
		width: 22px,
		height: 30px
	),
	paypal: (
		background: $paypal-image-url,
		width: 32px,
		height: 30px
	),
	visa: (
		background: $visa-image-url,
		width: 28px,
		height: 30px
	),
	facebook: (
		background: $facebook-image-url,
		width: 36px,
		height: 36px
	),
	instagram: (
		background: $instagram-image-url,
		width: 36px,
		height: 36px
	),
	pinterest: (
		background: $pinterest-image-url,
		width: 36px,
		height: 36px
	),
	tooltip-info: (
		position: relative,
		width: 15px,
		height: 15px,
		border: solid 1px currentColor,
		border-radius: 100%,
		after: (
			position: absolute,
			top: 5px,
			left: 6px,
			width: 2px,
			height: 6px,
			background-color: currentColor,
			content: '""'
		),
		before: (
			position: absolute,
			top: 2px,
			left: 6px,
			width: 2px,
			height: 2px,
			border-radius: 100%,
			background-color: currentColor,
			content: '""'
		)
	),
	tumblr: (
		background: $tumblr-image-url,
		width: 36px,
		height: 36px
	),
	twitter: (
		background: $twitter-image-url,
		width: 36px,
		height: 36px
	),
	youtube: (
		background: $youtube-image-url,
		width: 36px,
		height: 36px
	),
	at-flag: (
		background: $at-flag-image-url,
		width: 13px,
		height: 10px
	),
	be-flag: (
		background: $be-flag-image-url,
		width: 13px,
		height: 10px
	),
	bg-flag: (
		background: $bg-flag-image-url,
		width: 13px,
		height: 10px
	),
	ch-flag: (
		background: $ch-flag-image-url,
		width: 13px,
		height: 10px
	),
	cz-flag: (
		background: $cz-flag-image-url,
		width: 13px,
		height: 10px
	),
	de-flag: (
		background: $de-flag-image-url,
		width: 13px,
		height: 10px
	),
	ee-flag: (
		background: $ee-flag-image-url,
		width: 13px,
		height: 10px
	),
	es-flag: (
		background: $es-flag-image-url,
		width: 13px,
		height: 10px
	),
	fi-flag: (
		background: $fi-flag-image-url,
		width: 13px,
		height: 10px
	),
	fr-flag: (
		background: $fr-flag-image-url,
		width: 13px,
		height: 10px
	),
	gb-flag: (
		background: $gb-flag-image-url,
		width: 13px,
		height: 10px
	),
	ie-flag: (
		background: $ie-flag-image-url,
		width: 13px,
		height: 10px
	),
	it-flag: (
		background: $it-flag-image-url,
		width: 13px,
		height: 10px
	),
	lu-flag: (
		background: $lu-flag-image-url,
		width: 13px,
		height: 10px
	),
	lt-flag: (
		background: $lt-flag-image-url,
		width: 13px,
		height: 10px
	),
	lv-flag: (
		background: $lv-flag-image-url,
		width: 13px,
		height: 10px
	),
	nl-flag: (
		background: $nl-flag-image-url,
		width: 13px,
		height: 10px
	),
	pl-flag: (
		background: $pl-flag-image-url,
		width: 13px,
		height: 10px
	),
	se-flag: (
		background: $se-flag-image-url,
		width: 13px,
		height: 10px
	),
	si-flag: (
		background: $si-flag-image-url,
		width: 13px,
		height: 10px
	),
	sk-flag: (
		background: $sk-flag-image-url,
		width: 13px,
		height: 10px
	),
	logo-signet: (
		background: $logo-signet-image-url,
		width: 36px,
		height: 36px
	),
	care-1a: (
		background: $care-1a-image-url,
		width: 25px,
		height: 27px
	),
	care-1b: (
		background: $care-1b-image-url,
		width: 25px,
		height: 27px
	),
	care-10: (
		background: $care-10-image-url,
		width: 25px,
		height: 27px
	),
	care-11: (
		background: $care-11-image-url,
		width: 25px,
		height: 27px
	),
	care-12: (
		background: $care-12-image-url,
		width: 25px,
		height: 27px
	),
	care-13: (
		background: $care-13-image-url,
		width: 25px,
		height: 27px
	),
	care-14: (
		background: $care-14-image-url,
		width: 25px,
		height: 27px
	),
	care-16: (
		background: $care-16-image-url,
		width: 25px,
		height: 27px
	),
	care-17: (
		background: $care-17-image-url,
		width: 25px,
		height: 27px
	),
	care-18: (
		background: $care-18-image-url,
		width: 25px,
		height: 27px
	),
	care-19: (
		background: $care-19-image-url,
		width: 25px,
		height: 27px
	),
	care-20: (
		background: $care-20-image-url,
		width: 25px,
		height: 27px
	),
	care-21: (
		background: $care-21-image-url,
		width: 25px,
		height: 27px
	),
	care-22: (
		background: $care-22-image-url,
		width: 25px,
		height: 27px
	),
	care-30: (
		background: $care-30-image-url,
		width: 25px,
		height: 27px
	),
	care-31: (
		background: $care-31-image-url,
		width: 25px,
		height: 27px
	),
	care-32: (
		background: $care-32-image-url,
		width: 25px,
		height: 27px
	),
	care-40: (
		background: $care-40-image-url,
		width: 25px,
		height: 27px
	),
	care-41: (
		background: $care-41-image-url,
		width: 25px,
		height: 27px
	),
	care-42: (
		background: $care-42-image-url,
		width: 25px,
		height: 27px
	),
	care-43: (
		background: $care-43-image-url,
		width: 25px,
		height: 27px
	),
	care-50: (
		background: $care-50-image-url,
		width: 25px,
		height: 27px
	),
	care-53: (
		background: $care-53-image-url,
		width: 25px,
		height: 27px
	),
	care-54: (
		background: $care-54-image-url,
		width: 25px,
		height: 27px
	),
	care-55: (
		background: $care-55-image-url,
		width: 25px,
		height: 27px
	),
	care-56: (
		background: $care-56-image-url,
		width: 25px,
		height: 27px
	),
	care-57: (
		background: $care-57-image-url,
		width: 25px,
		height: 27px
	),
	care-58: (
		background: $care-58-image-url,
		width: 25px,
		height: 27px
	),
	care-washing_machine: (
		background: $care-washing-machine-image-url,
		width: 25px,
		height: 27px
	),
	person-image-url: (
		background: url('/assets/images/icons/person.svg') no-repeat,
		width: 25px,
		height: 20px
	),
	address-image-url: (
		background: $address-image-url,
		width: 25px,
		height: 20px
	),
	pin-image-url: (
		background: $pin-image-url,
		width: 25px,
		height: 20px
	),
	pin-filled: (
		background: $pin-filled-image-url,
		background-size: 17px,
		width: 17px,
		height: 19px
	),
	star: (
		background: $star-image-url,
		width: 17px,
		height: 19px
	),
	star-filled: (
		background: $star-filled-image-url,
		width: 17px,
		height: 19px
	),
	email: (
		background: $email-image-url,
		width: 16px,
		height: 18px
	),
	chain: (
		background: $chain-image-url,
		width: 16px,
		height: 18px
	),
	logo-formembers-image-url: (
		background: $logo-formembers-image-url,
		width: 87px,
		height: 87px
	),
	zoom-in: (
		background: $zoom-in-image-url,
		width: 35px,
		height: 35px
	),
	zoom-out: (
		background: $zoom-out-image-url,
		width: 35px,
		height: 35px
	),
	brand-logo-denim: (
		background: $logo-denim-image-url,
		width: 37px,
		height: 37px
	),
	brand-logo-whitelabel: (
		background: $logo-whitelabel-image-url,
		width: 50px,
		height: 23px
	),
	arrow-next: (
		background: $arrow-next-url,
		width: 11px,
		height: 10px,
	),
	arrow-next-white: (
		background: $arrow-next-white-url,
		width: 11px,
		height: 10px,
	)
	
);

@mixin icon($icon-name) {
	$icons-definition: map-get($icons-map, $icon-name);

	@each $css-rule, $value in $icons-definition {
		@if $css-rule == before or $css-rule == after {
			&::#{$css-rule} {
				@each $sub-rule, $sub-value in $value {
					#{$sub-rule}: #{$sub-value};
				}
			}
		} @else {
			#{$css-rule}: #{$value};
		}
	}
}

